Source: certbot-haproxy
Section: net
Priority: optional
Maintainer: Vítězslav Dvořák <info@vitexsoftware.cz>
Build-Depends: debhelper-compat (= 12), dh-python, python3-setuptools,  python3, python3-mock, python3-sphinx-rtd-theme, python3-zope.component
Standards-Version: 4.5.0
Homepage: https://github.com/VitexSoftware/certbot-haproxy
#Vcs-Git: https://salsa.debian.org/debian/certbot-haproxy.git
#Vcs-Browser: https://salsa.debian.org/debian/certbot-haproxy

Package: certbot-haproxy
Architecture: all
Multi-Arch: foreign
Depends: ${misc:Depends}, haproxy, certbot, python3, python3-setuptools,  python3-mock, python3-future, python3-zope.component
    ${shlibs:Depends}
Description: HAProxy plugin for Let's Encrypt's Certbot 
 This is a certbot plugin for using certbot in combination with a HAProxy setup. 
 Its advantage over using the standalone certbot is that it automatically places
 certificates in the correct directory and restarts HAProxy afterwards. 
 It should also enable you to very easily do automatic certificate renewal.
