#!/usr/bin/make -f
export PYBUILD_NAME=certbot-haproxy
#export PYBUILD_SYSTEM=custom
#export PYBUILD_BUILD_ARGS=python3 setup.py build
#export PYBUILD_INSTALL_ARGS=install --root=$(CURDIR)/debian/tmp
#export PYBUILD_CLEAN_ARGS=python3 setup.py clean

include /usr/share/dpkg/pkg-info.mk

%:
	dh $@ --with python3 --buildsystem=pybuild

override_dh_auto_install:
	dh_auto_install
	#rm -rf $(CURDIR)/debian/python3-certbot-haproxy/usr/lib/python*/dist-packages/certbot_haproxy/tests/testdata

override_dh_gencontrol:
	echo "Abi-major-version=${DEB_VERSION_UPSTREAM}" | cut -d. -f1 >> debian/abi.substvars
	echo "Abi-major-minor-version=${DEB_VERSION_UPSTREAM}" | cut -d. -f1,2 >> debian/abi.substvars
	dh_gencontrol -- -Tdebian/abi.substvars


override_dh_auto_test:
	echo "Skipping tests as there are none."
