#!/usr/bin/make -f
# You must remove unused comment lines for the released package.
#export DH_VERBOSE = 1
#export DEB_BUILD_MAINT_OPTIONS = hardening=+all
#export DEB_CFLAGS_MAINT_APPEND  = -Wall -pedantic
#export DEB_LDFLAGS_MAINT_APPEND = -Wl,--as-needed

export PYBUILD_NAME=cerbot-haproxy
export PYBUILD_DISABLE=test/python3
export SETUPTOOLS_USE_DISTUTILS=stdlib pipenv install

BUILDDIR3 := $(shell pybuild --print build_dir --interpreter python3)

%:
	dh $@ --with python3 --buildsystem=pybuild

override_dh_auto_build:
	dh_auto_build
	PYTHONPATH=$(BUILDDIR3) python3 setup.py build_sphinx

override_dh_install:
	dh_install
	mv debian/certbot-haproxy/usr/lib/python* debian/certbot-haproxy/usr/lib/python3
	mv debian/certbot-haproxy/usr/bin/certbot-deploy-hook-example	debian/certbot-haproxy/usr/bin/certbot-haproxy-deploy
	chmod +x debian/certbot-haproxy/usr/bin/certbot-haproxy-deploy
